* {
  margin: 0;
}
.container {
  font-family: 'Poppins', sans-serif;
}
.nav {
  height: 70px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  padding: 0 30px;
}
section {
  padding: 26px 36px;
}
.main {
  display: flex;
  flex-direction: column;
}
.group-picture {
  width: 70%;
  align-self: center;
}
.main h1 {
  font-size: 36px;
  margin: 32px 0 16px 0;
}
.card {
  width: 175px;
  font-size: 0.75rem;
  border: 1px solid red;
}
.card-img {
  width: 100%;
}
.card-stats {
  display: flex;
  align-items: center;
}
.card-star {
  height: 14px;
}
.grey {
  color: #918E9B;
}
.bold {
  font-weight: 600;
}
h2{
  font-size: 0.75rem;
  font-weight: 400;
}
